body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
}
.page-logo-text {
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  text-decoration: none;
}
.page-menu-list li {
    list-style-type: none;
  }
.page-menu-list a {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 2%;
  color: #2e2f42;
}
.page-menu-list a:hover {
  color:#404BBF;
}
.page-menu-list a:focus {
    color:#404BBF;
}
address a{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 2%;
    color: #434455;
    text-decoration: none;
    
}
adress a:focus{
    color: #404BBF;
}
adress a:hover{
    color: #404BBF;
    ;
}
h1{
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    color: #ffffff;
    letter-spacing: 2%;
    background-color: #2e2f42;
    text-align: center;
}


